    body {
        background: url("HipHOp.jpg") no-repeat center center fixed;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        font-family: 'Bangers', cursive;
        color: white;
        text-shadow: 2px 2px 8px rgb(92, 12, 28);
    }
    
    .navbar {
        position: fixed;
        width: 100%;
        background: url("eq.gif");
        /* background-repeat: repeat; */
        /* background-size: cover; */
        font-size: 2rem;
        margin-bottom: 3%;
        z-index: +2;
    }
    
    .nav-link {
        color: black;
    }
    
    .nav-item:hover {
        color: #ffffff
    }
    
    .nav-link:hover {
        color: #ffffff
    }
    
    .fulist {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    
    .liF {
        float: left;
    }
    
    .aLink {
        display: block;
        color: white;
        text-align: center;
        padding: 16px;
    }
    
    .aLink:hover {
        background: url();
        color: white;
    }
    
    #contactMe {
        float: left;
        display: block;
        text-align: center;
        background: url("");
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        font-size: 1.75rem;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    
    #me {
        border-radius: 1%;
        /* padding: 2%; */
        height: 100%;
    }
    
    .polaroid {
        float: left;
        width: 20%;
        border-radius: 1%;
        height: auto;
        background-color: rgb(92, 12, 28);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin: .5%;
    }
    
    .grid2:hover {
        border: solid 3px white;
    }
    
    .grid2 {
        position: relative;
        text-align: center;
        color: white;
        padding: 1%;
        background-color: none;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    #grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
    #portfolio {
        display: flex;
        justify-content: space-around;
        background: url("");
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-bottom: 2%;
        padding: .5%;
    }
    
    figcaption {
        color: white;
        text-shadow: 2px 2px 8px crimson;
        font-size: 3rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
    }
    
    #notecard {
        width: 100%;
        height: auto;
        border-radius: 1%;
        height: auto;
        background: url("index.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-bottom: 3%;
        padding: 2%;
    }
    
    .tabs a {
        float: left;
        padding: 10px 40px;
        background: crimson;
        color: white;
        text-shadow: none;
        -webkit-border-top-left-radius: 15px;
        -webkit-border-top-right-radius: 15px;
        -moz-border-radius-topleft: 15px;
        -moz-border-radius-topright: 15px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background: url("eq.gif");
        font-size: 1.5rem;
        color: black;
    }
    
    #main {
        display: flex;
        justify-content: space-around;
    }
    
    .fab {
        color: black;
        font-family: 'Bangers', cursive;
    }
    
    .fas {
        color: white;
    }